nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  .link {
    text-decoration: none;
    padding: 10px;
    color: black;

    display: flex;
    justify-content: left;
    align-items: center;

    #sidenav-icon {
      height: 25px;
      width: 25px;
      padding-right: 10px;
    }
  }

  .active {
    color: white;
    width: 100%;
    background-color: #1f2a45;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
}
