.add-attendance {
  table,
  th,
  td {
    border: 1px solid;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  #add-attendance-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
