#student-report {
  #name {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
  }

  #learning-materials {
    margin-left: 20px;
  }

  #section-title {
    font-weight: bold;
    padding-top: 10px;
  }

  #question-description {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
