.dashboard {
  min-height: 100%;
  display: flex;
  font-size: 16px;

  .side {
    width: 200px;
    background-color: #fc7519;
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    img {
      padding: 10px;
    }

    .user {
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-weight: bold;
        color: black;
        text-align: center;
      }

      input {
        display: block;
        border: none;
        padding: 10px;
        font-weight: bold;
        color: white;
        margin-top: 10px;
        text-align: center;
        background-color: rgb(158, 40, 20);
        border-radius: 10px;
      }
    }
  }

  main {
    background-color: #e8eaec;
    height: 100vh;
    width: 100vw;

    .top {
      background: #283659;
      position: fixed;
      top: 0;
      width: 100%;
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 40px;
      padding-left: 220px;

      p {
        padding-left: 20px;
      }
    }

    .content {
      margin-left: 220px;
      margin-top: 45px;
    }
  }
}
