.dashboard {
  min-height: 100%;
  display: flex;
  font-size: 16px;

  .side {
    width: 200px;
    background-color: #d3ced3;
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    #subject-dropdown {
      margin-bottom: 50px;
      margin-left: 20px;
    }

    #school {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;

      img {
        padding: 10px;
      }

      p {
        padding: 10px;
        text-align: center;
      }
    }

    .user {
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-weight: bold;
        color: black;
        text-align: center;
      }

      input {
        display: block;
        border: none;
        padding: 10px;
        font-weight: bold;
        color: white;
        margin-top: 10px;
        text-align: center;
        background-color: rgb(158, 40, 20);
        border-radius: 10px;
      }
    }
  }

  main {
    background-color: #f3f1f5;
    height: 100%;
    width: 100vw;
    padding-right: 10px;

    .top {
      // position: fixed;
      // top: 0;
      color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding-left: 220px;

      #header-left {
        display: flex;
        justify-content: left;
        align-items: center;

        p {
          padding-left: 10px;
          font-weight: bold;
        }
      }

      #notification {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        margin-right: 20px;

        p {
          padding-right: 10px;
          font-weight: bold;
          font-size: 12px;
        }

        #notif-close-icon {
          height: 15px;
          width: 15px;
          cursor: pointer;
        }
      }

      .success {
        background: #4a830c;
      }
      .error {
        background: #c53015;
      }
    }

    .content {
      margin-left: 220px;
    }
  }
}
