#lectures {
  #open-modal-btn {
    text-decoration: underline;
    border: none;
    background: none;
    color: blue;
  }

  #remove-lecture {
    background: none;
    color: blue;
    text-decoration: underline;
  }

  .lectures-link:hover {
    font-weight: bold;
  }

  #lecture-actions-group {
    display: flex;

    .left {
      margin-right: 20px;
    }
  }

  .lecture-list {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 10px;

    p {
      color: black;
    }

    .actions {
      display: flex;
    }
  }
}
