div {
  .scores-act {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .score-input {
    display: flex;
    width: 500px;
  }

  .error-label {
    margin-left: 10px;
    font-weight: bold;
  }

  .wrapper {
    width: 200px;
  }
}
