.scores {
  background: transparent;

  .scores-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    #score-input {
      width: 100px;
      font-weight: bold;
      margin-right: 20px;
    }
  }
}
